.chat_bubble {
    max-width: 50rem;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    background: #E8E7E7;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.chat_bubble.sent {
    margin-left: auto;
    background: #007bff;
    color: white;
}

.chat_bubble.received {
    margin-right: auto;
    background: #E8E7E7;
}

#chat_input {
    max-width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    border-top: 1px solid #E8E7E7;
    border-bottom: 1px solid #E8E7E7;
    font-size: 1rem;
}

.container {
    display: flex;
}

.container.vertical {
    flex-direction: column;
}

.container.horizontal {
    flex-direction: row;
}

.container.center_items {
    align-items: center;
}

.container.rtl {
    justify-content: flex-end;
}

.container.grow {
    flex-grow: 1;
}

.grow {
    flex-grow: 1;
}